on:
  workflow_call:
    secrets:
      HF_AUTH_TOKEN:
        required: true
    inputs:
      model-name:
        required: true
        type: string
      model-source:
        required: true
        type: string
      hf-name:
        required: false
        type: string
      upload:
        type: boolean
        default: false

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
      - run: uv sync # TODO: cache uv env (does setup-uv do that already automatically?)

      - run: uv run immich_model_exporter export "${{ inputs.model-name }}" "${{ inputs.model-source }}" --hf-model-name "${{ inputs.hf-name }}"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ inputs.model-name }}
          path: models/

  # When doing benchmarking, that goes here
  # Download the exported artifact, and upload an artifact with the benchmark result to be used below

  upload:
    if: ${{ inputs.upload }}
    runs-on: ubuntu-latest
    needs: export
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
      - run: uv sync # TODO: cache uv env (does setup-uv do that already automatically?)

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: ${{ inputs.model-name }}
          merge-multiple: 'true' # We don't actually have multiple, but this also sets the subfolder naming behaviour
          path: models/

      - run: uv run immich_model_exporter upload "${{ inputs.model-name }}" --hf-model-name "${{ inputs.hf-name }}" --hf-organization immich-testing
        env:
          HF_AUTH_TOKEN: ${{ secrets.HF_AUTH_TOKEN }}
